table{
    width: 100%;
    height: 98vh;
}
#logo{
    text-align: right;
}
#primeiro{
    height: auto;
    width: 100px;
}
#lorem{
    text-align: center;
    text-align: justify;
    font-size: 1.2em;
    width: 15%;
}
#foto1{
    height: 170px;
    width: 20%;

}
.linha1{
    height: 170px;
}
.linha2{
    height: 230px;
}
.linha3{
    height: 230px;
}
.linha4{
    height: 200px;
}
#foto2{
    height: 170px;
    width: 20%;

}